/* BASE */
@import "base/fonts";
@import "base/layout";

/* COMPONENTS */
@import "components/header";
@import "components/sections/works";

:root {
  --primary-color: #000;
  --bg: #fff;

  --select-border: var(--primary-color);
  --select-arrow: var(--select-border);

  --small-text-size: 12px;
  --normal-text-size: 14px;

  --hover-bg: #eee;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}
